$dark: #0b0c10;
$medium: #1f2833;
$light: #c5c6c7;
$accent: #66fcf1;
$bright: #81d8d0;

$black: #000000;
$white: #ffffff;

$tr: all 0.3s ease-in-out;

$font: "Roboto", sans-serif;
// $font: "Montserrat", sans-serif;
// $font: "PT Sans", sans-serif;
// $font: "Open Sans", sans-serif;

$mobile: 767px;
$tablet: 1023px;
