.faqs {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 4px;
}

.faq {
	width: 100%;
	max-width: 500px;
	text-align: center;

	&.open .question {
		&::after {
			transform: translateY(-50%) rotate(180deg);
		}
	}

	&.open .answer {
		opacity: 1;
		max-height: 100px;
	}
}

.question {
	position: relative;
	transition: 0.4s all linear;
	padding: 5px 10px;
	background-color: $medium;
	color: $accent;

	&::after {
		position: absolute;
		content: "";
		top: 50%;
		transform: translateY(-50%) rotate(0deg);
		right: 15px;
		width: 20px;
		height: 20px;
		background-image: url("../img/svg/arrow.svg");
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
		transition: 0.4s all linear;
	}
}

.answer {
	padding: 5px 10px;
	position: relative;
	top: -100%;
	opacity: 0;
	max-height: 0;
	overflow-y: hidden;
	transition: all 0.4 ease-out;
	border: 2px solid $medium;
	border-top: none;
}
