.header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1000;
	background-color: $black;
}
.header__container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	z-index: 50;

	@media (max-width: $mobile) {
		padding-top: 10px;
		padding-bottom: 10px;
	}
}

.nav__logo {
	margin-right: auto;
	color: $white;
	cursor: pointer;
	position: relative;
	z-index: 120;
}

.nav {
	position: relative;
	padding: 10px 0;
	display: flex;
	justify-content: space-between;
	transition: 0.5s ease-in-out all;

	@media (max-width: $mobile) {
		top: 70px;
		display: block;
		width: 100%;
		height: 100%;
		padding: 0;
		position: fixed;
		top: -100%;
		left: 0;
		z-index: 100;
		overflow: auto;
		background-color: $medium;

		&.open {
			top: 0;
		}
	}
}

.nav__list {
	display: flex;
	list-style: none;
	padding: 0;
	margin: 0;
	flex-wrap: wrap;

	@media (max-width: $mobile) {
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin: 0;
		width: 100%;
		height: 100%;
		position: relative;
		padding: 50px 20px;
		list-style: none;
		z-index: 1000;
		transition: opacity 0.8s 0.6s, clip-path 0.6s 0.4s;

		& .nav__link {
			color: $light;
		}
	}
}

.nav__link {
	padding: 10px;
	display: block;
	text-decoration: none;
	color: $white;
	text-align: center;
	transition: $tr;

	&:hover {
		color: $bright;
	}
}
